@import "../../index.css";

.homepage-logo-container {
	display: flex;
	justify-content: left;
	align-items: left;
	padding-top: 70px;
}

.homepage-container {
	padding-top: 25px;
	width: 100%;
}

.homepage-first-area {
	display: flex;
	justify-content: space-around;
	align-items: left;
}

.homepage-first-area-left-side {
	display: flex;
	flex-direction: column;
	width: 100%;

}

.homepage-title {
	width: 100% !important;
	font-family: var(--anton-font);
	color: var(--primary-color);
	font-size: 80px;
	letter-spacing: 3px;
	font-weight: 700;
	width: 70%;
}

.homepage-subtitle {
	width: 85% !important;
	margin: 0px !important;
	padding: 15px, 0px !important;
	width: 100% !important;
	order: 3;
	padding: 0px;
	margin: 0px;
	padding-top: 10px;
	color: var(--secondary-color);
	font-family: var(--jetbrainsmono-font);
	font-size: 16px;
	line-height: 28px;
	width: 70%;
	display: flex;
	justify-content: left;
	flex-direction: column;
	align-items: left;
}

.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: left;
	padding-top: 30px;
}

.homepage-social-icon {
	padding-right: 20px;
	font-size: 25px;
	transition: color 0.2s ease-in-out;
	color: var(--secondary-color);
}

.homepage-social-icon:hover {
	color: var(--primary-color);
}

.homepage-after-title {
	display: flex;
}

.homepage-projects {
	flex-basis: 300px;
	padding-top: 30px;
}

.homepage-articles {
	flex-basis: 900px;
	padding-top: 30px;
	margin-left: -30px;
}

.homepage-article {
	padding-bottom: 5px;
}

.homepage-works {
	flex-basis: 600px;
	padding-top: 30px;
}

.container {
	padding-top: 60px;
	padding-bottom: 0px;
}

.inline-item {
	display: flex;
	align-items: center;
	padding-bottom: 12px;
	margin-right: 24px;
}

.inline-group {
	display: flex;
	align-items: center;
}

.inline-item svg {
	margin-right: 12px;
}

.resume-link {
	color: var(--secondary-color);
	/* padding-top: 10px; */
	display: flex;
	align-items: center;
	padding-bottom: 12px;
}

.resume-link:hover {
	color: var(--link-color);
}

/* .resume-link-icon {
	padding-left: 5px;
} */

/* .resume-link-text {
	padding-left: 12px;
} */

@media (max-width: 1024px) {
	.homepage-first-area {
		flex-direction: column;
	}

	.homepage-first-area-left-side {
		display: flex;
		flex-direction: column;
		/* Changed: set direction to column */
		width: 100%;
		text-align: left;
		justify-content: center;
		order: 2;


	}

	.homepage-title {
		width: 100% !important;
		order: 2;
	}

	.homepage-subtitle {
		width: 100% !important;
		order: 3;
		padding: 0;
		margin: 0;

		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: left;
	}

	.homepage-first-area-right-side {
		width: 100%;
		order: 1;
	}

	.homepage-image-container {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-left: 10px;
		margin-right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		order: 1;
	}

	.homepage-after-title {
		flex-direction: column;
	}

	.homepage-projects {
		flex-basis: auto;
	}

	.homepage-articles {
		flex-basis: auto;
	}

	.homepage-works {
		flex-basis: auto;
		margin-left: -25px;
		margin-right: -25px;
	}

	.container {
		padding-top: 30px;
		padding-bottom: 0px;
	}

}