.all-projects-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 200px);
	gap: 10px;
	/* padding-top: 30px;
	padding-bottom: 30px; */
	width: 100%;
}

.nightline { /* item 1 */
	grid-column: 1 / 4;
	grid-row: 1 / 3;
}

.esap { /* item 2 */
	grid-column: 4 / 6;
	grid-row: 1 / 3;
}

.synchroni { /* item 3 */
	grid-column: 1 / 3;  /* controls how many columns it takes up (col 1 - 2) */
	grid-row: 3 / 5; /* controls how many rows it takes up (row  3 - 4) */
}

.translunar { /* item 4 */
	grid-column: 3 / 6;
	grid-row: 3 / 5;
}

.parralax { /* item 5 */
	grid-column: 4 / 6;
	grid-row: 5 / 7;
}

.moo-deng { /* item 6 */
	grid-column: 1 / 4;
	grid-row: 5 / 7;
}

.all-projects-project {
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
	width: 100%;
}


@media (max-width: 768px) {
	.all-projects-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 450px) {
	.all-projects-container {
		grid-template-columns: repeat(1, 1fr);
	}
}