@import "../../../data/styles.css";
.icons,
.email-wrapper {
	display: flex;
	padding-bottom: 20px;
}

.icons a,
.email-wrapper a {
	text-decoration: none;
}

.experience-icon{
	transition: color 0.2s ease-in-out;
	font-size: 25px;
	color: var(--secondary-color);
	padding: 8px;
	display: flex;
	justify-content: center;

}

.experience-icon:hover{
	color: var(--link-color);
}

.experience-text {
	color: var(--secondary-color);
	margin-top: 0px;
	font-weight: 600;
	font-size: 14px;
}

.email::before {
	content: "";
	display: block;
	padding-top: 20px;
	border-top: 3px solid #f4f4f5;
	margin-top: 20px;
}

.email-wrapper {
	padding-top: 20px;
}

.icons{
	display: flex; 
	gap: 20px;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	/* flex-wrap: wrap; */
	justify-content: space-evenly;
	text-align: center;
}

@media (max-width: 950px){
	.icons{
		grid-template-columns: auto auto auto auto;
		gap: 15px;
		/* flex-wrap: wrap; */
	}
}

@media (max-width:650px){
	.icons{
		grid-template-columns: auto auto auto;
		gap: 10px;
		/* flex-wrap: wrap; */
	}
}

.item{
	padding: 15px;
}

.header{ 
	text-align: center;
	padding: 15px;
	padding-top: 25px;
}