@import "../../data/styles.css";

.flex {
    display: flex;
    justify-content: center; 
}

.details {
    text-align: left;
    padding: 30px;
    margin: 0px 0px;
}

.about-image {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}

.left-side {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-basis: 1200px;
}

.right-side {
    flex-basis: auto;
}

@media (max-width: 600px) {
    .flex {
        flex-wrap: wrap;
    }
}
