:root {
	/* ------- colors ------- */
	--primary-color: #3B251D;
	--secondary-color: #463028;
	--tertiary-color: #acacb4;
	--quaternary-color: #fbf2ed;
	--link-color: #103552;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}

/* ------- headers ------- */
.h1{
	font-size: xx-large;
} 

.h2{
	font-size: x-large;
} 

.h3{
	font-size: large;
} 

.h4{
	font-size: medium;
} 

.h5{
	font-size: small;
} 

.h6{
	font-size: x-small;
}
